<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="dashboard-sidenav">
    <h3 class="sidebar-title">Visa Admin</h3>
    <nav class="sidebar-list">
      <a mat-list-item 
   routerLink="/dashboard" 
   routerLinkActive="active-link" 
 [routerLinkActiveOptions]="{ exact: true }" >
  <mat-icon>dashboard</mat-icon>
  <span>Dashboard</span>
</a>

<a mat-list-item 
   routerLink="/applications" 
   routerLinkActive="active-link" 
   [routerLinkActiveOptions]="{ exact: true }">
  <mat-icon>assignment</mat-icon>
  <span>Applications</span>
</a>

<a mat-list-item 
   routerLink="/countries" 
   routerLinkActive="active-link" 
   [routerLinkActiveOptions]="{ exact: true }">
  <mat-icon>public</mat-icon>
  <span>Countries</span>
</a>

<a mat-list-item 
   routerLink="/notifications" 
   routerLinkActive="active-link" 
   [routerLinkActiveOptions]="{ exact: true }">
  <mat-icon>notifications</mat-icon>
  <span>Notifications</span>
</a>
<a mat-list-item
*ngIf="authService.isSuperAdmin()"
   routerLink="/create-admin"
   routerLinkActive="active-link"
   [routerLinkActiveOptions]="{ exact: true }">
  <mat-icon>person_add</mat-icon>
  <span>Create Admin</span>
</a>

    </nav>

    <div class="logout-button">
      <button mat-raised-button  (click)="logout()">
      <mat-icon>logout</mat-icon> 
      <span>Logout</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="dashboard-content">
    <router-outlet></router-outlet>

    <!-- Only show summary cards if current route is dashboard -->
<div class="summary-cards" *ngIf="isDashboard">

      <mat-card class="summary-card total">
        <mat-icon>list_alt</mat-icon>
        <div>
          <h2>{{ summary?.total }}</h2>
          <p>Total Applications</p>
        </div>
      </mat-card>

      <mat-card class="summary-card approved">
        <mat-icon>check_circle</mat-icon>
        <div>
          <h2>{{ summary?.approved }}</h2>
          <p>Approved</p>
        </div>
      </mat-card>

      <mat-card class="summary-card rejected">
        <mat-icon>cancel</mat-icon>
        <div>
          <h2>{{ summary?.rejected }}</h2>
          <p>Rejected</p>
        </div>
      </mat-card>

      <mat-card class="summary-card pending">
        <mat-icon>hourglass_empty</mat-icon>
        <div>
          <h2>{{ summary?.pending }}</h2>
          <p>Pending</p>
        </div>
      </mat-card>

    </div>
    <mat-card class="chart" *ngIf="isDashboard"> 
      
          <app-payment-status-chart></app-payment-status-chart>
          </mat-card>

          

  </mat-sidenav-content>



</mat-sidenav-container>
