table {
  font-family: Arial, sans-serif;
}

th {
  background-color: #f3f3f3;
  font-weight: bold;
}

.upload-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button {
  cursor: pointer;
}
table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-elevation-z8 {
  margin-top: 16px;
  border-radius: 4px;
}

.application-form-card {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}

mat-form-field {
  display: block;
  margin-bottom: 1rem;
}

mat-checkbox {
  margin: 1rem 0;
  display: block;
}

.form-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}